# Locale
lang en_US.UTF-8
keyboard us
timezone UTC

# Authentication
## Sets up the authentication options - use shadow passwords, use md5 encryption for user passwords
authconfig --enableshadow --enablemd5
## Sets the system's root password
rootpw vagrant

# Kickstart
## Fresh install, not an upgrade
install
## Specify install source - install via HTTP
url --url=http://www.mirrorservice.org/sites/mirror.centos.org/6.5/os/x86_64/
## Disk Partitioning - how the boot loader should be installed, delete all partitions/mbr, then create new layout
bootloader --location=mbr
zerombr
clearpart --all --initlabel
part  /boot     --asprimary  --size=256         --ondrive=sda
part  /         --asprimary  --size=4096        --ondrive=sda
part  /var                   --size=2048        --ondrive=sda
part  /var/log               --size=1024        --ondrive=sda
part  /var/log/audit         --size=512         --ondrive=sda
part  /home                  --size=1 --grow    --ondrive=sda
part  /tmp                   --size=256         --ondrive=sda
part  swap                   --size=512         --ondrive=sda
## Firstboot - the druid that helps you to set up the system after install - disabled
firstboot --disabled
## Don't use GUI
text
## Don't configure X
skipx
## Reboot the machine after the install
reboot
## Configure NICs - use dhcp
network --bootproto dhcp --hostname=vagrant
## Firewall - enable and open ssh port
firewall --enabled --service=ssh
## Selinux - disable
selinux --disabled
## Add some repos for build additional packages
repo --name=epel --mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=epel-6&arch=x86_64 --includepkgs='dkms,tmux'

%packages
# Note that the Core and Base groups are always selected by default,
# so it is not necessary to specify them in the %packages section.
## Add basic packages groups
@ Core                      #@core
@ Base                      #@base
## Add basic packages
wget
curl
sudo
gcc
gcc-c++
bzip2
make
dkms
kernel-devel
## Add extra packages
openssh-clients
rsync
#git
vim
mc
#tmux
%end

%post
/usr/bin/yum -y upgrade

# lazy postinstall method - run postinstall scripts later via ssh
# create vagrant user and group
/usr/sbin/groupadd vagrant
/usr/sbin/useradd vagrant -g vagrant -G wheel -d /home/vagrant -c "vagrant"
# set password
echo "vagrant" | passwd --stdin vagrant
# give sudo access (grants all permissions to user vagrant)
echo "vagrant ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
# add vagrant's public key - user can ssh without password
mkdir -pm 700 ~vagrant/.ssh
wget -O ~vagrant/.ssh/authorized_keys --no-check-certificate https://raw.github.com/mitchellh/vagrant/master/keys/vagrant.pub
chmod 0600 ~vagrant/.ssh/authorized_keys
chown -R vagrant:vagrant ~vagrant/.ssh

%end
